body {
background-color: dodgerblue;
}
.title {
    text-align: center;
    text-decoration: none;
}
.box {
    width: 100px;
    padding: 100px;
    border: 4px solid black;
    align-items: center;
}